:root {
  --purple:  rgb(95, 78, 95);
}
main { 
    min-height: 75vh;
}



/* HomeScreen */
/* Hero */
.title {
  text-align: center;
  color: var(--purple);
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 100px auto;
  margin-bottom: 0;
}

.homescreen-btn {
  flex: 0 0 150px; /* Adjust the width and height to create a square shape */
  height: 200px;
  border: 4px solid var(--purple); /* Add a border with the --purple color */
  background: none;
  padding: 0;
  margin-right: 10px; /* Adds space between the buttons */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds shadow */

}

.homescreen-btn:last-child {
  margin-right: 0; /* Removes margin from the last button */
}

.homescreen-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .button-container {
    flex-wrap: wrap;
    justify-content: center; /* Center the buttons */
    width: 90%;
    margin: 50px auto;
  }

  .homescreen-btn {
    flex-basis: calc(50% - 5px);
    margin-bottom: 10px;
  }

  .homescreen-btn:last-child {
    margin-bottom: 0;
  }
}

  /* End Hero */
  /* End HomeScreen*/